body {
  background-color: rgb(249, 247, 254);
  font-family: "Nunito Sans", sans-serif;
}

header {
  padding: 0 0 30px 0;
}

.main-block {
  background-color: #fff;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 12px;
}

.search-input {
  background-color: rgb(249, 247, 254);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background-color: #009e60;
  color: #fff;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

footer {
  text-align: center;
  padding: 30px 0 0 0;
}

a {
  color: #009e60;
}

.data-blocks {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px;
}

.data-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.data-details {
  font-size: 16px;
  line-height: 20px;
}

.data-details strong {
  color: #ff44ab;
}

.data-temp-container {
  display: flex;
}

.data-temp {
  font-size: 88px;
  font-weight: bold;
}

.data-icon {
  width: 120px;
  height: 120px;
  line-height: 1;
}

.data-unit {
  margin-top: 20px;
  font-size: 28px;
}

.hidden-element {
  display: none;
}

.forecast-data-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-day {
  text-align: center;
  color: rgba(33, 66, 36, 0.4);
  font-size: 16px;
  line-height: 20px;
}

.forecast-icon {
  text-align: center;
  background-color: #dffaf2;
  border-radius: 10px;
}

.forecast-icon img {
  width: 50px;
}

.forecast-temps {
  text-align: center;
  color: #ff44ab;
  display: flex;
  justify-content: center;
}

.forecast-temps div {
  padding: 0 10px;
}

.forecast-temp-high {
  font-weight: bold;
}
